@model List<UniProject.DataLayer.Entity.Role>
@{
    ViewData["Title"] = "ShowRoles";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card-title-wrap bar-success">
                <h4 class="card-title">لیست نقش ها</h4>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <a href="/Admin/CreateRole" class="btn mr-1 btn-primary">افزودن نقش جدید</a>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                @*Empty*@
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-block">
                                <table class="table table-responsive-md text-center">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>عنوان نقش</th>
                                            <th>اقدامات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var role in Model)
                                        {
                                            <tr>
                                                <td></td>
                                                <td>@role.RoleTitle</td>
                                                <td>
                                                    <a href="/admin/EditRole/@role.RoleId" class="success p-0" data-original-title="" title="">
                                                        <i class="fa fa-pencil font-medium-3 mr-2"></i>
                                                    </a>
                                                    <a href="/admin/DeleteRole/@role.RoleId" class="danger p-0" data-original-title="" title="">
                                                        <i class="fa fa-trash-o font-medium-3 mr-2"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



